@import 'common-variables.less';
#navigation-bar {
    position: absolute;
    top: 0;
    right:0;
    justify-content: space-around;
    width: 50%;
}
#navigation-bar div {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    width: 75%;
    height: 10%;
    text-align: center;
}
#navigation-bar .rs-navbar-item:hover {
    background-color: @second-accent-color;
    opacity: 50%;
    text-decoration: none;
    color:@first-main-color;
    border-radius: 10px;
}
#navigation-bar .rs-navbar-right {
    display: flex;
    justify-content: flex-end;
    width: 25%;
}
.rs-navbar-item.nav-button-active {
    background-color: @second-accent-color;
    border-radius: 10px;
}
@media screen and (max-width: 540px) {
    #navigation-bar div {
        width: 100%;
    }
    #navigation-bar a a {
        color: @text-color;
    }
    #navigation-bar a.nav-button-active a {
        color: @text-color-light;
    }
    #navigation-bar .rs-navbar-right {
        width: 50%;
    }
    #navigation-bar {
        width: 100%
    }
    .back-icon-container {
        bottom: 0;
        left: 0;
        top: auto;
    }
}
