@import 'common-variables.less';
@media screen and (min-width: 992px) {
    #navigation-bar {
        position: fixed;
        top: 40%;
        right: 2%;
        height: 25%;
        display: flex;
        ul {
            position: relative;
            line-height: 0;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: space-around;
            flex-flow: column;
        }
        li {
            position: relative;
            background-color: black;
            height: 15px;
            width: 15px;
            list-style: none;
            display: block;
            line-height: 0;
            border-radius: 50%;
        }
        li:hover {
            background-color: @second-accent-color;
            p {
                color: @text-color-light;
                display: flex;
                width: 600%;
                position: relative;
                left: -650%;
                top: 5px;
                justify-content: end;
            }
        }
        a {
            color: inherit;
            text-decoration: none;
        }
        p {
            display: none;
        }
        div {
            flex-flow: column;
            display: flex;
            height: 100%;
            justify-content: space-around;
            text-align: center;
        }
        li.nav-button-active {
            color: @text-color-light;
            background-color: @second-accent-color;
        }
    }
}
@media screen and (max-width: 992px) {
    #navigation-bar {
        position: absolute;
        top: 0;
        left: 0;
        justify-content: space-around;
        width: 100%;
        height: 10%;
        background-color: #610909;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        div {
            flex-direction: row;
            display: flex;
            justify-content: space-around;
            width: 100%;
            height: 50%;
            text-align: center;
        }
        a {
            top: 50%;
            position: inherit;
        }
        li {
            list-style-type: none;
        }
        .rs-navbar-item:hover {
            background-color: @second-accent-color;
            opacity: 50%;
            text-decoration: none;
            color: @first-main-color;
            border-radius: 10px;
        }
        .rs-navbar-right {
            display: flex;
            justify-content: flex-end;
            width: 25%;
        }
    }
    .rs-navbar-item.nav-button-active {
        background-color: @second-accent-color;
        border-radius: 10px;
    }
}
