@import 'common-variables.less';
.social-media-container {
    position: fixed;
    left: 0;
    top: 90%;
    width: 18%;
    background-color: @first-accent-color;
    height: 8%;
    padding-right: 2%;
    border-radius: 0px 46px 46px 0px;
    display: flex;
    z-index: 10;
}
.social-media-link-container {
    display: flex;
    justify-content: flex-end;
    align-self: center;
    gap: 10px;
    width: 100%;
}
.social-media-link {
    background-color: @link-background-color;
    color: @text-color;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
}
.social-media-link-container .fa {
    color: @text-color;
}

@media screen and (max-width: 540px) {
    .social-media-container {
        width: 40%;
        position: fixed;
    }
}
