@import 'common-variables.less';
.underwork-page-left{
    height: 100vh;
}
    
 
.underwork-page-left .middle {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
  
.underwork-page-left h1 {
  font-size: 500%;
  position: absolute;
    right: 25%;
    top: 0px;
}

.underwork-page-left img {
  width: 125px;
  position: absolute;
  right: 15%;
  top: -50px;
}

.back-icon-container {
  font-size: 300%;
  position: fixed;
  left: 2%;
  top: 2%;
}

@media all and (max-width: 675px) {
  .underwork-page-left .middle {
    transform: initial;
    width: initial;
    left: 50%;
    right: 25%;


  }
  .underwork-page-right img {
    display: none;
  }
  .underwork-page-left img {
    right: auto;
    top: auto;
  }
}