:root {
    --text-color: #171719;
    --first-accent-color: #610909;
    --second-accent-color: #975050;
    --first-main-color: #F7D6D6;
    --second-main-color: #ba7d7d;
    --link-background-color: #E6E6E8;
}

.flex-container {
    display: flex;
    align-items: stretch;
    height: 100vh;
}
.flex-item {
    flex-grow: 1; 
}
.left-info-block {
    background-color: var(--first-main-color);
}
.main-left-container {
    flex-grow:1;
    background-color: var(--first-main-color);   
}
.main-right-container {
    flex-grow:1;
    background-color: var(--second-accent-color);   
}
.startpage-column-container {
    justify-content: center;
    align-items: flex-start;
    display: flex;
}
.main-title {
    color: var(--text-color);
    font-size: 550%;
    font-weight: bold;
}
.secondary-title {
    font-size: 120%;
}
#startpage-link {
    margin-top: 7%;
    font-weight: bold;
}
.left-text-container {
    margin-top: 25%;
}
.main-left-container a {
    color: inherit;
    text-decoration: none;
}
.half-image {
    object-fit: cover;
    width: 100%;
    height: -webkit-fill-available;
}
.social-media-link-container {
    bottom: 2%;
    width: 18%;
    height: 8%;
    border-radius: 0px 46px 46px 0px;
    background-color: var(--first-accent-color);
    position: fixed;
    left:0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2%;
    gap:10px;
}
.social-media-link {
    background-color: var(--link-background-color);
    color: var(--text-color);
    width: 20%;
    height: 60%; 
    border-radius: 50px 50px 50px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
}
.social-media-link-container .fa {
    color: var(--text-color);
}
.navigation-bar {
    position: absolute;
    top: 0;
    justify-content: space-around;
    width: 50%;
}
.navigation-bar div {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    width: 75%;
    height: 10%
}
.navigation-bar .rs-navbar-item:hover {
    background-color: var(--second-accent-color);
    opacity: 50%;
    text-decoration: none;
    color:var(--first-main-color);
    border-radius: 10px;
}
.navigation-bar .rs-navbar-right {
    display: flex;
    justify-content: flex-end;
    width: 25%;
}
.nav-button-active {
    background-color: var(--second-accent-color);
}
