:root {
    --text-color: #171719;
    --first-accent-color: #610909;
    --second-accent-color: #975050;
    --first-main-color: #F7D6D6;
    --second-main-color: #ba7d7d;
    --link-background-color: #E6E6E8;
}

.flex-container {
    display: flex;
    align-items: stretch;
    height: 100vh;
}
.flex-item {
    flex-grow: 1; 
}
.left-info-block {
    background-color: var(--first-main-color);
}
.main-left-container {
    flex-grow:1;
    background-color: var(--first-main-color);
    width: 50%;
}
.main-right-container {
    flex-grow:1;
    background-color: var(--second-accent-color);
    width: 50%;
}
.startpage-column-container {
    justify-content: center;
    align-items: flex-start;
    display: flex;
}
.main-title {
    color: var(--text-color);
    font-size: 550%;
    font-weight: bold;
}
.secondary-title {
    font-size: 120%;
}
#startpage-link {
    margin-top: 7%;
    font-weight: bold;
}
.left-text-container {
    margin-top: 25%;
}
.main-left-container a {
    color: inherit;
    text-decoration: none;
}
.half-image {
    object-fit: cover;
    width: 100%;
    height: -webkit-fill-available;
}
.social-media-link-container {
    bottom: 2%;
    width: 18%;
    height: 8%;
    border-radius: 0px 46px 46px 0px;
    background-color: var(--first-accent-color);
    position: fixed;
    left:0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2%;
    gap:10px;
}
.social-media-link {
    background-color: var(--link-background-color);
    color: var(--text-color);
    width:50px;
    height: 50px; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
}
.social-media-link-container .fa {
    color: var(--text-color);
}
.navigation-bar {
    position: absolute;
    top: 0;
    justify-content: space-around;
    width: 50%;
}
.navigation-bar div {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    width: 75%;
    height: 10%;
    text-align: center;
}
.navigation-bar .rs-navbar-item:hover {
    background-color: var(--second-accent-color);
    opacity: 50%;
    text-decoration: none;
    color:var(--first-main-color);
    border-radius: 10px;
}
.navigation-bar .rs-navbar-right {
    display: flex;
    justify-content: flex-end;
    width: 25%;
}
.nav-button-active {
    background-color: var(--second-accent-color);
    border-radius: 10px;
}
.underwork-page body, html {
    height: 100%
  }
  
.underwork-page .bgimg {
    /* Background image */
    background-image: url('./Resources/background.jpg');
    /* Full-screen */
    height: 100vh;
    /* Center the background image */
    background-position: center;
    /* Scale and zoom in the image */
    background-size: cover;
    /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
    position: relative;
    /* Add a white text color to all elements inside the .bgimg container */
    color: black;
    /* Add a font */
    font-family: "Courier New", Courier, monospace;
    /* Set the font-size to 25 pixels */
    font-size: 25px;
  }
  
  /* Position text in the top-left corner */
.underwork-page .topleft {
    position: absolute;
    top: 0;
    left: 16px;
  }
  
  /* Position text in the bottom-left corner */
.underwork-page .bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
  }
  
  /* Position text in the middle */
.underwork-page .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Style the <hr> element */
.underwork-page hr {
    margin: auto;
    width: 40%;
  }
@media screen and (max-width: 540px) {
    .navigation-bar div {
        width: 50%;
        flex-direction: column;
    }
    .navigation-bar .rs-navbar-right {
        width: 50%;
    }
    .social-media-link-container {
        width: 40%;
    }
    .main-title {
        font-size: 300%;
    }
    .left-text-container {
        margin-top: 50%;
    }
}

